name: "Clean Up Resources"

on:
  schedule:
    # triggers the workflow every day at 7:15 and 8:15 UTC = 1:15 and 2:15 CST
    - cron: "15 7,8 * * *"
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  clean_up_resource:
    name: "Clean Up Resource"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Delete app
        run: doctl apps list | awk '{print $1}' | awk 'NR!=1 {print}' | xargs doctl apps delete -f
      - name: Delete database
        run: doctl databases list | awk '{print $1}' | awk 'NR!=1 {print}' | xargs doctl databases delete -f
